body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    padding: 50px 0;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    background: #333;
    padding: 10px;
    border-radius: 10px;
}

form {
    background: #252525;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

select, input[type="text"], textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box; /* Чтобы отступы не ломали ширину */
}

button {
    background-color: #ffcc00; /* Яркий цвет кнопки */
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e6b800;
}

.price-box {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    text-align: center;
    margin: 10px 0;
}